*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar{
    height: 10vh;
    width: 100%;
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    
}

.nav2{
    display: flex;
    flex-direction: column;
    background:linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    padding: 0px 30px;
    height: 83ch;
    border-radius: 10px;
}