*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%); 
    padding: 40px;
}
.login-left{
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #ffff;
    color: black;
    top: -25%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,50%);
    box-sizing: border-box;
    padding:40px 20px;
    border-radius: 10px;
}
.login-form-content{
    font-size: 18px;
}
.login-header{
    text-align: center;
}
input[type='text'],
input[type='password']{
    border:1px solid black;
    height:50px;
    padding: 0 2rem;
    width: 75%;
    outline: none;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 20px;
}
button{
    width:75%;
    margin-bottom: 10px;
    border: none;
    background:linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%); 
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform:uppercase;
    font-size: 20px;
    height: 50px;
}
.signup-form-footer{
    text-align: center;
}