<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin_home.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<header>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
   {% for category, message in messages %}
   {% if category== 'error' %}
   <div class="alert alert-danger alert-dismissible">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <span>{{ message }}</span>
   </div>
   {% else %}
   <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span>{{ message }}</span>
  </div>
  {% endif %}
   {% endfor %}
   {% endif %}
   {% endwith %}
</header>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class="lab la-quinscape"></span>
                Quizit</h1>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="btn active"><span class="las la-user-circle"></span>
                        <span>Profile</span></a>
                </li>
                <li>
                    <a href="/adminViewQuiz/" class="btn"><span class="las la-igloo"></span>
                        <span>View Quiz</span></a>
                </li>
                <li>
                    <a href="/quiz/" class="btn"><span class="las la-question"></span>
                        <span>Create Quiz</span></a>
                </li>
                <li>
                    <a href="/adminResult/" class="btn"><span class="las la-poll"></span>
                        <span>View Result</span></a>
                </li>
                <li>
                    <a href="/" class="btn"><span class="las la-sign-out-alt"></span>
                        <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="page_title">Profile</div>
            <span><h3>Admin</h3></span>
            <img src="/static/profile.jpeg" class="img">
            <div class="titles">
            <span><h3>Name</h3></span>
            <label>{{admindata[0][0]}}</label>
            <br><br>
            <span><h3>E-mail</h3></span>
            <label>{{admindata[0][1]}}</label>
            <br><br>
            <span><h3>Password</h3></span>
            <label>{{admindata[0][2]}}</label>
    </div>
    
</div>
</body>
</html>