<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <label class="logo"> QUIZIT </label>
        </nav>
    </div>
    <div class="nav2">
        <nav class="nav2">
            <ul>
             <label class="menu"> Menu </label>
             <li><a href="#"> Add Question </a></li>
             <li><a href="#"> Results </a></li>
             <li><a href="#"> Create space </a></li>
            </ul>
         </nav>
    </div>
</body>
</html>