<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
    <div class="loginbox">
        <h1>Welcome To Quizit</h1>
        <h2>Login As ?</h2>
        <form>
            <br><br>
            <button>Admin</button>
            <br><br>
            <button>User</button>
            <br><br>
            <a href="register.html">Don't have an account? Sgin Up</a>
        </form>
    </div>
</body>
</html>