<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
    <div class="loginbox">
        <h1>WELCOME TO QUIZZY</h1>
        <h2>LOGIN AS ?</h2>
        <form>
            <br><br>
            <button>ADMIN</button>
            <br><br>
            <button>STUDENTS</button>
            <br><br>
            <a href>Don't have an account? Sgin In</a>
        </form>
    </div>
</body>
</html>