<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/static/user_ques.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class="lab la-quinscape"></span>
                Quizit</h1>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/user_home/" class="btn"><span class="las la-user-circle"></span>
                        <span>Profile</span></a>
                </li>
                <!-- <li>
                    <a href="#" class="btn"><span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li> -->
                <li>
                    <a href="/takeQI/" class="btn active"><span class="las la-question"></span>
                        <span>Take Test</span></a>
                </li>
                <li>
                    <a href="/userResult/" class="btn"><span class="las la-poll"></span>
                        <span>View Result</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
           <div class="page_title">Question</div>
            <div class="question"><span id="question"><input type="text" name="question" class="question" id="ques" placeholder="Enter Question"></span></div>
             
            <span class="option"><input  type="text" name="option1" id="" placeholder="Enter option 1" ></span>
            <span class="option"><input  type="text" name="option2" id="" placeholder="Enter option 2"></span>
            <span class="option"><input  type="text" name="option3" id="" placeholder="Enter option 3"></span>
            <span class="option"><input  type="text" name="option4" id="" placeholder="Enter option 4"></span>
        
    </div>
</body>
</html>